<!DOCTYPE html>

<html>

<head>

<meta charset="UTF-8">

<title>Table Demo</title>


<link rel="stylesheet" href="../../design/styles/variables.css">

<link rel="stylesheet" href="../../design/styles/colors.css">

<link rel="stylesheet" href="../../design/styles/theme.css">


<link rel="stylesheet" href="table.css">


</head>


<body class="container">


<h1>Hangar 13 Table</h1>



<div class="h13-table-container">


<table class="h13-table">


<thead>

<tr>

<th>

Repair #

</th>


<th>

Customer

</th>


<th>

Vehicle

</th>


<th>

Technician

</th>


<th>

Status

</th>


<th>

Total

</th>


</tr>

</thead>



<tbody>


<tr>


<td>

#10452

</td>


<td>

John Smith

</td>


<td>

2020 Silverado

</td>


<td>

Mike

</td>


<td>


<span class="h13-table-status">

<span class="h13-table-status-dot success"></span>

Complete

</span>


</td>


<td>

$842.50

</td>


</tr>





<tr>


<td>

#10453

</td>


<td>

Sarah Jones

</td>


<td>

2022 Bronco

</td>


<td>

David

</td>


<td>


<span class="h13-table-status">

<span class="h13-table-status-dot warning"></span>

Waiting Parts

</span>


</td>


<td>

$325.00

</td>


</tr>






<tr>


<td>

#10454

</td>


<td>

Fleet Account

</td>


<td>

F-250 Diesel

</td>


<td>

Chris

</td>


<td>


<span class="h13-table-status">

<span class="h13-table-status-dot danger"></span>

Urgent

</span>


</td>


<td>

$1,920.00

</td>


</tr>


</tbody>


</table>


</div>



<script src="table.js"></script>


<script>

H13Table.init();

</script>


</body>

</html>
