<!DOCTYPE html>

<html>

<head>

<meta charset="UTF-8">

<title>Toast Demo</title>

<link rel="stylesheet" href="../../design/styles/variables.css">
<link rel="stylesheet" href="../../design/styles/colors.css">
<link rel="stylesheet" href="../../design/styles/theme.css">

<link rel="stylesheet" href="../button/button.css">
<link rel="stylesheet" href="toast.css">

</head>

<body class="container">

<h1>Toast Demo</h1>

<button class="h13-btn success" onclick="successToast()">

Success Toast

</button>

<button class="h13-btn warning" onclick="warningToast()">

Warning Toast

</button>

<button class="h13-btn danger" onclick="errorToast()">

Error Toast

</button>

<script src="toast.js"></script>

<script>

function successToast(){

    H13Toast.show({

        title:"Repair Saved",

        message:"Repair Order #1057 has been updated.",

        type:"success"

    });

}

function warningToast(){

    H13Toast.show({

        title:"Low Inventory",

        message:"Only 2 oil filters remain.",

        type:"warning"

    });

}

function errorToast(){

    H13Toast.show({

        title:"Connection Lost",

        message:"Unable to reach Hangar Server.",

        type:"error"

    });

}

</script>

</body>

</html>
